<section class="media-table">
  <h2>List of Users</h2>
  <% if @users.length > 0 %>
    <table class="table">
      <thead>
        <tr>
          <th>Username</th>
          <th>Votes</th>
          <th>Joined</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user|%>
          <tr>
            <td><%= link_to user.name, user_path(user.id) %></td>
            <td><%= user.votes.count %></td>
            <td><%= user.created_at.strftime("%m/%d/%Y") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
      <p>No user in the system!</p>
  <% end %>
</section>
